.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.main__slider {
    width: 100%;
    overflow: hidden;
}

section {
    padding-bottom: 40px;
}

.titleAndLink {
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 0 0 25px 0;
    font-size: 25px;
}
.link{
    cursor: pointer;
}