.content{
    width: 800px;
}
.title{
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}
.brand,.country,.edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    border-bottom: 1px solid #bebebe;
}
.text {
    margin: 0px 20px 0px 0px ;
    font-size: 18px;
}
.editArticle,.editDestiny,.selectBrand,.editCountry,.selectCategories,.name,.price,.quantity {
    width: 450px;
    font-size: 18px;
    border: 1px solid #bebebe;
    padding: 2px 10px;
}
.description{
    font-size: 18px;
    border: 1px solid #bebebe;
    margin: 20px 0px 10px 0px ;
    width: 450px;
    height: 163px;
    padding: 2px 10px;
}
.brand{
    display: flex;
}
.img{
    width: 450px;
    font-size: 16px;
}
.saveButton{
    width: 300px;
    height: 45px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.saveButton:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.currentImage{
    width: 200px;
    height: 200px;
}