.content{
    width: 800px;
}
.title{
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}
.underTitle{
    margin: 0px 0px 10px 0px;
}
.table{
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    margin: 0px 0px 20px 0px;
}
th,
.name, .orderPlace,.orderDate,
.send,.email {
    border: 1px solid #bebebe; 
    padding: 8px; 
    text-align: center;
}
.name{
    width: 250px;
    line-height: 16px;
    word-wrap: break-word; /* Ensures long words break and wrap onto the next line */
    word-break: break-all; /* Breaks text at any character to ensure it fits within the container */
    white-space: normal; /* Ensures the text wraps to the next line */
    overflow-wrap: break-word;
}
.orderPlace,
.orderDate{
    width: 100px;
}
.send{
    width: 100px;
}
.email {
    word-wrap: break-word; /* Ensures long words break and wrap onto the next line */
    word-break: break-all; /* Breaks text at any character to ensure it fits within the container */
    white-space: normal; /* Ensures the text wraps to the next line */
    overflow-wrap: break-word; /* Another way to ensure long words wrap */
  }
.button{
    width: 90px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}