.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.controlMenu{
    width: 285px;
    height: 298px;
    border-radius: 5px;
}
.headerMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95px;
    margin: 0px 15px;
}
.loginMenu{
    font-size: 20px;
}
.emailMenu{
    font-size: 16px;
    color: #bebdbd;
}
.listMenu li{
    display: flex;
    column-gap: 15px;
    margin: 0 15px;
    align-items: center;
    border-bottom: 1px solid #bebebe;
    padding: 13px 0px;
    font-size: 17px;
}
.listMenu li:hover{
    color: orange;
    border-bottom: 1px solid orange;
    transition: all 0.2s;
    cursor: pointer;
}