.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.entryWindow__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 50px 0;
}

.entryWindow__wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.inputTitle {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputBox {
    position: relative;
    display: flex;
    height: 50px;
}

.inputBox input {
    border: 2px solid #eeebeb;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    width: 310px;
    height: 50px;
}

.PasswordIcon,
.EmailIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.inputBox input:focus {
    border: 2px solid orange;
}

.rememberForgot{
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.rememberForgot label input{
    margin-right: 3px;
}

.rememberForgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 300px;
    height: 45px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.registerLink{
    font-size: 12.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registerLink a{
    font-weight: 600;
}

.registerLink a :hover{
    text-decoration: underline;
}