.cart{
    font-size: 30px;
}
.titlePoint{
    font-size: 24px;
    margin: 20px 0px 20px 0px;
}
.itemsReview{
    width: 810px;
    max-height: 600px;
    overflow-y: auto;
}
.itemsReview::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

.itemsReview::-webkit-scrollbar-track {
    background-color: #fefefe;
    border-radius: 4px;
}

.itemsReview::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 4px;
}
.cartEmpty{
    margin: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.cartEmpty span{
    display: block;
    font-size: 26px;
    width: 800px;
    font-weight: 500;
}
.priceProduct{
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    text-align: end;
}
.priceProduct span{
    font-weight: 600;
}
.inputBox p{
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}
.inputBox input{
    height: 53px;
    width: 100%;
    border: 1px solid #bebebe;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    cursor: default;
}
.viewingUserDate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0px 0px 20px 0px;
}
.forUser{
    font-size: 14px;
    color: #bebebe;
}
.pointShop,
.pointHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    width: 100%;
    border: 1px solid #bebebe;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 16px;
    cursor: pointer;
}
.choice{
    display: flex;
    align-items: center;
}
.choice input[type="radio"] {
    margin-right: 5px;
}
.choice label {
    margin-left: 5px;
}
.dateTime{
    margin: 0px 0px 0px 10px;
    display: flex;
}

.date{
    margin: 0px 0px 0px 45px;
    padding: 5px;
    border: 1px solid #bebebe;
    font-size: 14px;
    border-radius: 10px;
}
.time{
    margin: 0px 65px 0px 20px;
    padding: 5px;
    border: 1px solid #bebebe;
    font-size: 14px;
    border-radius: 10px;
}
.payReceipt,
.pointHome{
    margin: 0px 0px 15px 0px;
}
.payCard,
.payReceipt{
    display: flex;
    align-items: center;
    height: 53px;
    width: 395px;
    border: 1px solid #bebebe;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 16px;
    cursor: pointer;
}
.payMethod input[type="radio"] {
    margin-right: 5px;
}
.payMethod label {
    margin-left: 5px;
}
.payButton{
    height: 53px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    width: 395px;
    margin-top: 20px;
    font-size: 20px;
}